*{
box-sizing:border-box;
margin:0;
}
body {
font-family: 'Quicksand', sans-serif;
background-color:#5c4e4e;
color:white;
}
/*Estilos generales*/
li {
list-style:none;
margin: 2px;
padding: 2px;
}
i {
font-size: 2.5rem;
margin: 1px;
padding-right: 15px;
}
a {
text-decoration: none;
color: white;
font-size: 1.1rem;
font-weight: 700;
text-align: justify;
}
button {
background-color: #bfbf00;
padding: 10px;
border-radius: 22px;
border: none;
font-size: 1.2em;
}
button:hover {
background-color: blue;
cursor:pointer;
}
/* Elementos ocultos */
#info-oculta {
display: none;
padding: 30px;
align-items: center;
width: 100%;
height: 300px;
border: 3px solid white;
}
.descripcion-trabajo {
display: none;
}
.ver-descripcion-trabajo {
display: flex;
max-width: 600px;
height: 50px;
background-color: green;
margin: 20px auto;
padding: 48px;
align-items: center;
font-size: 1.2em;
border-radius:20px;
}
.lenguaje-oculto {
display: none;
}
.ver-lenguaje {
display: flex;
flex-direction:row;
align-items:center;
justify-content:center;
background-color: #6889bec4;
padding: 10px;
border-radius: 20px;
margin: 15px;
color: white;
font-size: 1.2em;
font-weight: 700;
text-align: center;
gap: 10px;
}
.ver-lenguaje figure {
margin: 30px;
border: 6px solid #afaf00;
padding: 18px;
border-radius: 15px;
background-color: #342aa5;
}
.ver-lenguaje img {
max-width:110px;
}
header {
margin-top:100px;
}

/* Sección Inicio */
#inicio {
width:100%;
background-color: black;
color: gray;
}
/* Barra de Navegación */
.nav-bar {


display: flex;
flex-direction: row;

position: fixed;
top:0;
right:44px;
padding-top: 6px;
z-index:100;
}
.nav-bar-items {
display: flex;
background-color: blue;
border-radius:8px;
}
#inicio .contenido-header {
display: flex;
flex-direction:row;
flex-wrap:wrap;
align-items:center;
justify-content:center;
margin-top:100px;
}
#inicio .contenido-header img {
max-width:300px;
height:auto;
border:2px solid yellow;
margin:30px;
}
#inicio .contenido-header .titulo-principal {
font-family:'Quicksand', sans-serif;
font-weight:700;
font-size:2.7rem;
display:block;
line-height:78px;
margin: 0 10px;
}
/*Sección Quien Soy*/
#quien-soy {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
line-height: 40px;
background: #342aa5;
width: 100%;
margin: 20px;
}
/*Sección experiencia*/
#experiencia .contenedor-experiencia {
display: grid;
place-content: center; /*centra todo el contenido*/
border: 3px solid white;
margin: 20px;
padding: 10px;
}
/*Sección habilidades*/
#habilidades {
display: grid;
place-content:center;
background-color: white;
color:black;
}
#habilidades .titulo-habilidades {
font-size: 2.3em;
text-align: center;
text-transform: uppercase;
border-bottom:5px groove #6889be;
padding-top: 14px;
}
#habilidades .descripcion-titulo-habilidades {
font-size: 1.5em;
margin-top: 10px;
padding: 10px;
text-align:center;
}
#habilidades .icono-habilidades {
display: flex;
justify-content: center;
margin: 10px;
}
#habilidades .icono-habilidades i {
font-size: 2em;
background-color: #5c4e4e;
padding: 8px;
border-radius: 25px;
color: white;
}
#habilidades .contenedor-tecnologias {
display: grid;
place-content:center;
gap: 30px;
border: 2px solid black;
margin: 5px;
padding: 5px;
border-radius: 6px;
text-align:center;
}
#habilidades .contenedor-tecnologias .tecnologia {
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-content: center;
justify-content: center;
gap:10px;
}
/*Pie de página (advertencia)*/
footer {
margin: 10px;
}
footer .contenedor-advertencia {
display: flex;
flex-direction:column;
align-items: center;
justify-content: center;
border: 2px solid white;
padding: 30px;
background-color: #cf1414;
text-align:center;
}
footer .contenedor-advertencia i {
font-size:6.3em;
text-align:center;
}
footer .contenedor-advertencia .titulo-advertencia {
letter-spacing: 5px;
font-size:1.5em;
}
.copyright {
letter-spacing: 5px;
font-size:1.5em;
text-align:center;
padding:5px;
}
